
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #333;
  color: white;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.input_group{
  padding-left: 20%;
  
  
}
table {
  margin-top: 20px;
  width: 100%;
}

th, td {
  text-align: center;
}

button {
  margin-right: 20px;
}

